<div class="post-card box-shadow">
    <div class="row">
        <div class="col-3">
            <table class="post-table text-center">
                <tr>
                    <td rowspan="3"><img class="logo" src="../../../assets/teamlogo/{{ post.imgURL }}"></td>
                    <td class="font-weight-bold">Post</td>
                </tr>
                <tr>
                    <td class="small">{{author.firstName}}</td>
                </tr>
                <tr>
                    <td class="small font-weight-light">{{post.timestamp}}</td>
                </tr>
                <tr>
                    <td>Shares</td>
                    <td rowspan="2">Save</td>
                </tr>
                <tr>
                    <td>{{rating}}</td>
                </tr>
            </table>
        </div>
        <div class="col-9">
            <mat-progress-bar mode="qudeterminateery" color="" value="{{rating}}"></mat-progress-bar>
            <h4 class="post-title">{{ post.title }}</h4>
            <p class="post-description"> {{ post.content }} </p>
        </div>
    </div>
</div>


