<div class="post-card box-shadow">
    <div class="row">
        <div class="col-2">
            <div class="container">
                <h6><img class="thumb" src="../../../assets/like.png" (click)="like()"> {{ comment.upvotes }}</h6>
                <h6><img class="thumb" src="../../../assets/dislike.png" (click)="dislike()"> {{ comment.downvotes }}</h6>
            </div>
        </div>
        <div class="col-8">
            <div class="container">
                <p class="comment-content"> {{ comment.content }} </p>
                <p class="comment-content"> {{ comment.id }} </p>

            </div>

        </div>
        
        <div class="col-2">
            <button
            class="btn btn-outline-primary my-2 my-auto"
            (click)="addComment()"
            type="submit"> Reply
          </button>
        </div>
    </div>
</div>

<div class="text-center" *ngIf="!addingComment">
    <button
      class="btn btn-outline-primary my-2 my-sm-0"
      (click)="addingComment=true"
      type="submit"
    >
      Add comment
    </button>
  </div>

  <ng-container *ngIf="addingComment">
      <app-new-comment [postId]="postId" (emitter)="addComment($event)"></app-new-comment>
 </ng-container>


<!-- 
<div *ngIf="comments.length > 0 ">
    <li *ngFor="let comment of comments">
        <app-comment [comment]=comment></app-comment>
      </li>
</div> -->
