<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<app-navbar></app-navbar>



<div class="container user-profile">
<form method="post">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-img">
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png" alt=""/>
        <!--div class="file btn btn-lg btn-primary">
          Change Photo
          <input type="file" name="file"/>
        </div-->
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 profile-head">
          <h5>
            {{ profile.username }}
          </h5>
          <h6>
            {{ profile.fname }}
          </h6>
        </div>
        <div class="col-md-4">
          
          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="tab-content profile-tab profile-info">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.username }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.fname }} {{ profile.lname }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date Joined</label>
              </div>
              <div class="col-md-6">
                <p>{{ profile.joined }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
