<app-navbar></app-navbar>
<div class="container-fluid mt-2" *ngIf="post">
  <div class="row">
    <div class="col-sm-2">
      <div class="custom-padding-1">
        <span class="custom-text-1 ">Post</span>
      </div>
      <table class="post-table text-center post-card box-shadow">
        <tr>
          <td rowspan="3">
            <img class="logo" src="../../../assets/teamlogo/{{ post.imgURL }}" />
          </td>
          <td class="font-weight-bold">Flames</td>
        </tr>
        <tr>
          <td class="small">jfgf</td>
        </tr>
        <tr>
          <td class="small font-weight-light">1 hour ago</td>
        </tr>
        <tr>
          <td>Shares</td>
        </tr>
        <tr>
          <td>
            <h6><img class="thumb pr-1" src="../../../assets/like.png" (click)="like()"> {{ post.upvote }}</h6>
          </td>
          <td>
            <h6><img class="thumb pr-1" src="../../../assets/dislike.png" (click)="dislike()"> {{ post.downvote }}</h6>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-sm-7">
      
      <div class="container-fluid">
        <div class="custom-padding-1">
          <span class="custom-text-1 ">Post</span>
        </div>
        <div class="post-card box-shadow">
          <div class="container">
            <mat-progress-bar
              mode="qudeterminateery"
              color=""
              value="{{rating}}"
            ></mat-progress-bar>
            <h2 class="post-title text-center">{{ post.title }}</h2>
            <p class="post-content">
              {{ post.content }}
              {{ rating }}
            </p>



      
          </div>
        </div>

        <div class="bg-transparent">
          <ul class="comment">
            <li *ngFor="let comment of comments | slice:0:5">
              <app-comment [comment]=comment></app-comment>
            </li>
            <ng-container *ngIf="showMore">
              <ng-container *ngFor="let comment of comments; let i = index">
                 <li *ngIf="i >= 5">
                  <app-comment [comment]=comment></app-comment>
                </li>
              </ng-container>
           </ng-container>
          </ul>
    </div>

      <div class="text-center" *ngIf="!addingComment">
        <button
          class="btn btn-outline-primary my-2 my-sm-0"
          (click)="addingComment=true"
          type="submit"
        >
          Add comment
        </button>
      </div>
      <ng-container *ngIf="addingComment">
          <app-new-comment [postId]="postId" (emitter)="addComment($event)"></app-new-comment>
     </ng-container>

      </div>
    </div>
    <div class="col-sm-3">
      <div class="custom-padding-1">
        <span class="custom-text-1 ">Coming soon</span>
      </div>
      <div class="bg-transparent">
        <ul class="comment">
          <li *ngFor="let game of upcomingGames">
            <app-coming-soon [game]="game"></app-coming-soon>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
