<app-navbar></app-navbar>
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-sm-2">
      <table class="post-table text-center post-card box-shadow">
        <tr>
            <td rowspan="3"><img class="logo" src="../../../assets/flames_logo.png"></td>
            <td class="font-weight-bold">Flames</td>
        </tr>
        <tr>
            <td class="small">{{ contact.name }}</td>
        </tr>
        <tr>
            <td class="small font-weight-light">1 hour ago</td>
        </tr>
        <tr>
            <td>Shares</td>
            <td rowspan="2">Save</td>
        </tr>
        <tr>
            <td>Comments</td>
        </tr>
    </table>
    </div>
    <div class="col-sm-7">
      <div class="container-fluid">
        <div class="post-card box-shadow">
                  <div class="container">
                    <mat-progress-bar mode="qudeterminateery" color="" value="40"></mat-progress-bar>
                    <h2 class="post-title text-center">Title {{ contact.email }}</h2>
                    <p class="post-description">
                        Just witnessed the most epic save. Just witnessed the most epic save. 
                        Just witnessed the Just witnessed the most epic save.ost epic save. 
                        Just witnes …{{ contact.age }}</p>
                  </div>
      </div>
      </div>
    </div>
    <div class="col-sm-3">
      
    </div>
  </div>
</div>