<div class="coming-soon box-shadow">
    <table class="w-100">
        <tr class="text-center">
            <td>
                <img class="logo" src="../../../assets/flames_logo.png" alt="">
                <h6 class="pt-2">{{game.homeTeam}}</h6>
            </td>
            <td>
                <h6><strong>VS</strong></h6>
                <p class="text-inform">{{game.gameVenue}}</p>
                <p class="text-inform">{{game.gameDate}}</p>
             </td>
            <td>
                <img class="logo text-right" src="../../../assets/flames_logo.png" alt="">
                <h6 class="pt-2">{{game.awayTeam}}</h6>
            </td>
        </tr>
    </table>
</div>
