<div class="coming-soon box-shadow text-center">
        <div class="row">
            <div class="col-4">
                <img class="logo" src="../../../assets/teamlogo/{{game.homeTeamUrl}}" alt="">
                <h6 class="pt-2">{{game.homeTeamName}}</h6>
            </div>
            <div class="col-4">
                <h6><strong>VS</strong></h6>
                <p class="text-inform">{{game.gameVenue}}</p>
                <p class="text-inform">{{game.gameDate}}</p>
            </div>
            <div class="col-4">
                <img class="logo text-right" src="../../../assets/teamlogo/{{game.awayTeamUrl}}" alt="">
                <h6 class="pt-2">{{game.awayTeamName}}</h6>
            </div>

        </div>
</div>
