<nav class="container-fluid bg-white py-2">
  <div class="row">
    <div class="col-2">    
      <img class="logo" routerLink="" src="../../../assets/NHL-logo.png" alt="">  
    </div>
  </div>
</nav>


<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/NHL-logo.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" routerLink="/" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Register</a>
      </div>
  
    </div>
  </div>